body {
  background-color: #323341;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -175px;
}

h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 56px;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#previous-attempts {
  font-size: 24px;
  color: #eee;
  margin-bottom: 10px;
  text-align: center;
}

#word-display {
  font-size: 36px;
  color: #eee;
  text-align: center;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .keyboard-row {
    display: flex;
  }
  
  .key {
    font-size: 24px;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    color: #333;
    cursor: pointer;
  }

  #submit-btn {
    background-color: rgb(143, 221, 143);
    height: 50px;
    width: 45px;
    font-size: 30px;
  }

  #erase-btn {
    background-color: rgb(236, 149, 149);
    height: 50px;
    width: 45px;
    font-size: 30px;
  }
  
  .key:hover {
    background-color: #ccc;
  }
  
  .key:active {
    background-color: #999;
  }
  
  .key:disabled {
    background-color: #303030; /* Grey out disabled keys */
    color: #eee;
    cursor: not-allowed; /* Change cursor to "not allowed" on hover */
  }

  .correct {
    color: green;
  }
  
  .gold {
    color: gold;
  }
  
  .incorrect {
    color: red;
  }
  
  @keyframes waveAnimation {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(5px); }
    100% { transform: translateY(0); }
  }

  @keyframes rainbowAnimation {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
  }

  @keyframes gloomyAnimation {
    0% { color: rgb(92, 92, 92); }
    50% { color: darkgray; }
    100% { color: rgb(56, 56, 56) }
  }
  
  #feedback {
    font-size: 45px;
    font-family: fantasy;
    text-align: center;
  }

  .rainbow {
    animation: waveAnimation 2s ease-in-out infinite, rainbowAnimation 5s linear infinite;
  }
  
  .gloomy {
    animation: waveAnimation 2s ease-in-out infinite, gloomyAnimation 5s linear infinite;
  }