#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .keyboard-row {
    display: flex;
  }
  
  .key {
    font-size: 24px;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    color: #333;
    cursor: pointer;
  }
  
  .key:hover {
    background-color: #ccc;
  }
  
  .key:active {
    background-color: #999;
  }
  
  .key:disabled {
    background-color: #303030; /* Grey out disabled keys */
    color: #eee;
    cursor: not-allowed; /* Change cursor to "not allowed" on hover */
  }

  .correct {
    color: green;
  }
  
  .gold {
    color: gold;
  }
  
  .incorrect {
    color: red;
  }